ion-content{

    // --ion-background-color:#FC814A; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
ion-content.background{
    --background: url(../../../assets/loginpagebackground.png) 0 0/100% 100% no-repeat;
}



.login-box {
    background-color    : white;
    // padding: 20px 20px 20px 20px;
    padding-bottom: 30px;
    padding-top:30px;
     width: 100%;
     box-sizing          : border-box;
    border-style        : solid;
     border-width        : 1px;    
     border-radius       : 30px;
    // border-color        : rgba(232, 232, 232, 1.0);
    // -ms-transform       : rotate(0deg); /* IE 9 */
    // -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    // transform           : rotate(0deg);
    //opacity             : 0.18;
    //width               : 414px;
    //position            : absolute;
   // padding: 20px 20px 0px 20px;
  //  margin-top: 30px;
  }

 ion-item {
    width:90%;
    margin-left:10px;
}
// .item-inner {
//     border-bottom-color: #ffffff !important;
//     box-shadow: none !important;
//   }

a {
    text-decoration: none;
    background-color    : rgba(255,255,255,0.0);
     font-family         : "SFProText-Regular", Helvetica, Arial, serif;
     font-size           : 17.0px;
     color               : rgba(154, 0, 0, 1.0);
    letter-spacing      : -0.41px;
     line-height         : 22.0px;
 }

a:hover {
    text-decoration: underline;
}
// @font-face {
//     font-family: "SFProText-Semibold";
//     src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
//   }
//   @font-face {
//     font-family: "SFProText-Regular";
//     src: url('../fonts/SF-Pro-Text-Regular.otf') format("opentype");
//   }
//   @font-face {
//     font-family: "SFProDisplay-Regular";
//     src: url('../fonts/SF-Pro-Display-Regular.otf') format("opentype");
