<ion-content class="background" padding>
    <form #form="ngForm" (ngSubmit)="login(form)" style="padding-top:100px;">
    <ion-grid> 
      <ion-row color="primary"  justify-content-center align-items-center >
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center padding-top="25"> 
            <img src="../../../assets/pickupLogo.png">
          </div>
          <div class="login-box" style="margin-top: 50px;">
            <ion-item > 
              <ion-input class="input" name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <div class="ion-text-end" style="margin-top:10px; margin-right:20px;" >
                <a routerLink="/" routerDirection="forward"> Forgot Password?</a>
            </div>
          </div>
          <div padding text-center style="margin-top:30px;">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" color="logo">Login</ion-button>
            <ion-button size="large" type="submit"  expand="block" color="primary">Create Account</ion-button>
          </div>         
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
